.cursorPointer{
	cursor:pointer;
}

.linkSup{
	font-family:Calibri,Verdana,Arial;
	font-size:14px;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
}

label.valid {
  width: 24px;
  height: 24px;
  background: url(~/Images/Done.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}

label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}